<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="0CFyT39ue7PkTQ5vuUJsL5HeqEfEusg73rLoaI-rkJI" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <title>{{ title }}</title>
    <meta name="description" content="Learn everything about AdonisJS, a Node.js framework for building scalable web applications. Tutorials, tips, and best practices.">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap" rel="stylesheet">
    @vite(['resources/css/app.css', 'resources/js/app.js'])

    @if($slots.style)
      {{{ await $slots.style() }}}
    @end
  </head>
  <body>
    @include('components/layouts/navbar')
    <div>
      <div class="ui stackable grid" style="padding: 2%;">
        @if(currentRoute != '/blog')
          <div class="four wide column">
            @include('components/layouts/sidebar')
          </div>
          <div class="fourteen wide content-main" style="margin-left: 300px; overflow-x: auto;">
            @if($slots.main)
              {{{ await $slots.main() }}}
            @end
          </div>
        @else
          <div class="content-main" style="margin-left: 100px; overflow-x: auto;">
            @if($slots.main)
              {{{ await $slots.main() }}}
            @end
          </div>
        @end
      </div>
    </div>

    @if($slots.script)
      {{{ await $slots.script() }}}
    @end
  </body>
</html>
