<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="0CFyT39ue7PkTQ5vuUJsL5HeqEfEusg73rLoaI-rkJI" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta name="twitter:title" content="My Blog Adonis" />
    <meta name="twitter:description" content="This is a blog about AdonisJS." />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
    @vite(['resources/css/app.css', 'resources/js/app.js'])

    @if($slots.style)
      {{{ await $slots.style() }}}
    @end
  </head>
  <body>
    @include('components/layouts/navbar')
    <div class="ui container" style="margin-top: 10%;">
      <div class="ui stackable grid">
        @if(currentRoute != '/blog')
          <div class="two wide">
            @include('components/layouts/sidebar')
          </div>
        @else
          <div class="two wide">
          </div>
        @end
        <div class="fourteen wide" style="margin-left: 250px; overflow-x: auto;">
          @if($slots.main)
            {{{ await $slots.main() }}}
          @end
        </div>
      </div>
    </div>

    @if($slots.script)
      {{{ await $slots.script() }}}
    @end
  </body>
</html>
