<div
  class="ui vertical fluid menu"
  style="position: fixed; width: auto !important; height: auto;"
>
  @each(main in mainmenu)
    @if(main.link === currentRoute)
      <div class="item">
        <div class="header">
          {{ main.menu }}
        </div>
        @each(sub in submenu)
          @if(sub.mainmenu === main.id)
            <a class="item" href="#section{{ sub.id }}">{{ sub.menu }}</a>
          @end
        @endeach
      </div>
    @end
  @endeach
</div>
